<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('imports/bootstrap') %>
		<title>LSD Frontend</title>
		<link href="style.css" rel="stylesheet" type="text/css" />
	<head>
	<body> 
		<%- include('partials/navbar.ejs', {active: "booking"})  %>
		<main role="main">
			<div class="container">
        <h2><%= title %></h2>
        <% if (booking.flightBookings.length) { %>
          <div class="table-responsive">
          <table class="table">
            <thead>
                <tr>
                  <th>Booking ID</th>
                  <th>Price</th>
                  <th>Arrival Airport</th>
                  <th>Departure Airport</th>
                  <th>Flight Code</th>
                  <th>Passenger List</th>
                  <th>Creditcard number</th>
                  <th>Frequent Flyer ID</th>  
                  </tr>
            </thead>
            <tbody>
              <% booking.flightBookings.forEach((IFlightBookingDetail) => { %>
                <tr>
                  <td><%= booking.id %></td>
                  <td><%= booking.price %>DKK</td>
                    <td><%= IFlightBookingDetail.arrivalAirport.iata %></td>
                    <td><%= IFlightBookingDetail.departureAirport.iata %></td>
                    <td><%= IFlightBookingDetail.flightCode %></td>         
                    <% if (IFlightBookingDetail.passengers.length) { %>			
                      <td>
                        <ul class="list-group">
                          <% IFlightBookingDetail.passengers.forEach((IFlightPassenger) => { %>    
                            <li style="border: 0; padding: 2px;" class="list-group-item"><%= IFlightPassenger.pnr %> :<%= IFlightPassenger.lastName %>, <%= IFlightPassenger.firstName %></li>
                          <% })}%>
                        </ul>
                      </td>
                  <td><%= booking.creditCardNumber %></td>
                  <td><%= booking.frequentFlyerId %></td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
        <% } %>
      </div>      
		</main>
		<%- include('partials/footer.ejs') %>
		<%- include('imports/bootstrap-scripts.ejs') %> 
	</body>		
</html>