<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('imports/bootstrap') %>
		<title>LSD Frontend</title>
		<link href="style.css" rel="stylesheet" type="text/css" />
	<head>
	<body> 
		<%- include('partials/navbar.ejs', {active: "home"})  %>
		<main role="main">
			<div class="container">
				<ul class="list-group">
					<li class="list-group-item">
						<%= carrier.name %>
					</li>
				</ul>
			</div>
		</main>
		<%- include('partials/footer.ejs') %>
		<%- include('imports/bootstrap-scripts.ejs') %> 
	</body>		
</html>