<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('imports/bootstrap') %>
		<title>LSD Frontend</title>
		<link href="style.css" rel="stylesheet" type="text/css" />
	<head>
	<body> 
		<%- include('partials/navbar.ejs', {active: "flights"})  %>
		<main role="main">
			<div class="container">
				<h2><%= title %></h2>
				<% if (flights.length) { %>
					<p><strong>Flight count: <%= numbers %></strong></p>
					<div class="table-responsive">
						<table class="table" id="table" data-toggle="table" data-height="460" data-sort-name="name" data-sort-order="desc" data-search="true">
							<thead>
							<tr>
								<th>Carrier IATA</th>
								<th data-sortable="true">Flight Code</th>
								<th>Departure Airport</th>
								<th>Arrival Airport</th>
								<th>Departure Date</th>
								<th>Arrival Date</th>
								<th>Available Seats</th>
								<th>Seat Price</th>
								</tr>
							</thead>
							<tbody>
								<% flights.forEach((data) => { %>
									<tr>
										<td><%= data.carrier.iata %></td>
										<td><%= data.flightCode %></td>
										<td><%= data.departureAirport.iata %></td>
										<td><%= data.arrivalAirport.iata %></td>
										<td><%= data.departureDate %></td>
										<td><%= data.arrivalDate %></td>
										<td><%= data.availableSeats %></td>
										<td><%= data.seatPrice %></td>
									</tr>
								<% }) %>
							</tbody>
						</table>
						</div>
				<% } %>		
			</div>
		</main>
		<%- include('partials/footer.ejs') %>
		<%- include('imports/bootstrap-scripts.ejs') %> 
	</body>		
</html>