<!DOCTYPE html>
<html lang="en" class="h-100">
	<head>
		<%- include('imports/bootstrap') %>
		<title>LSD Frontend</title>
		<link href="style.css" rel="stylesheet" type="text/css" />
	<head>
	<body class="d-flex flex-column h-100"> 
		<%- include('partials/navbar.ejs', {active: "flights"})  %>
		<main role="main" class="flex-shrink-0">
			<div class="container">
				<h2>Flights</h2>
				<% if (flights) { %>
					<p><strong>Flight count: <%= flights.length %></strong></p>
					<div class="table-responsive">
						<table class="table" id="table" data-toggle="table" data-sort-name="name" data-sort-order="desc" data-search="true">
							<thead>
							<tr>
								<th data-sortable="true">Carrier IATA</th>
								<th data-sortable="true">Flight Code</th>
								<th data-sortable="true">Departure Airport</th>
								<th data-sortable="true">Arrival Airport</th>
								<th data-sortable="true">Departure Date</th>
								<th data-sortable="true">Arrival Date</th>
								<th data-sortable="true">Available Seats</th>
								<th data-sortable="true">Seat Price</th>
								</tr>
							</thead>
							<tbody>
								<% flights.forEach((data) => { %>
									<tr>
										<td><%= data.carrier.iata %></td>
										<td><%= data.flightCode %></td>
										<td><%= data.departureAirport.iata %></td>
										<td><%= data.arrivalAirport.iata %></td>
										<td><%= data.departureDate %></td>
										<td><%= data.arrivalDate %></td>
										<td><%= data.availableSeats %></td>
										<td><%= data.seatPrice %></td>
									</tr>
								<% }) %>
							</tbody>
						</table>
						</div>
				<% } else { %>	
					<p>No flights available</p>
				<% } %>	
			</div>
		</main>
		<%- include('partials/footer.ejs') %>
		<%- include('imports/bootstrap-scripts.ejs') %> 
	</body>		
</html>