<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../../imports/bootstrap') %>
		<title>LSD Frontend</title>
		<link href="../	style.css" rel="stylesheet" type="text/css" />
	<head>
	<body> 
		<%- include('../../partials/navbar.ejs', {active: "booking"})  %>
		<main role="main">
			<div class="container">
				<h2>Cancel Booking</h2>
				<p><%= message %></p>
			</div>

		</main>
		<%- include('../../partials/footer.ejs') %>
		<%- include('../../imports/bootstrap-scripts') %> 
	</body>		
</html>