<!DOCTYPE html>
<html lang="en" class="h-100">
	<head>
		<%- include('../../imports/bootstrap') %>
		<title>LSD Frontend</title>
		<link href="style.css" rel="stylesheet" type="text/css" />
	<head>
	<body class="d-flex flex-column h-100"> 
		<%- include('../../partials/navbar.ejs', {active: "booking"})  %>
		<main role="main" class="flex-shrink-0">
			<div class="container">
				<form action="/booking/create" method="POST">
					<input type="hidden" name="reservationId" value='<%= reservation.id %>'>
					<h5>Payment</h5>
					<div class="form-row">
						<div class="form-group col-md-6">
						  <label for="creditCardNumberInput">Creaditcard Number</label>
						  <input type="number" class="form-control" id="creditCardNumberInput" placeholder="Credit Card Number" required name="creditCardNumber">
						</div>
						<div class="form-group col-md-6">
						  <label for="frequentFlyerNumberInput">Frequest Flyer Number</label>
						  <input type="number" class="form-control" id="frequentFlyerNumberInput" placeholder="Frequent Flyer Number" required autocomplete="false" name="ffNumber">
						</div>
					  </div>
					<div id="passenger-container">
						<% for(var i=0; i < travelerCount; i++) { %>
						<% var x = "passenger[" + i + "]" %>
					  	<div class="form-row">
							<div class="form-group col-md-6">
								<label for="firstnameInput">First Name</label>
								<input type="text" class="form-control" id="firstnameinput" placeholder="Firstname" required name="<%= x %>[firstName]">
							</div>
							<div class="form-group col-md-6">
								<label for="lastnameInput">Last Name</label><span class="float-right text-muted">Passenger <%= i+1%></span>
								<input type="text" class="form-control" id="lastnameinput" placeholder="Lastname" required autocomplete="false" name="<%= x %>[lastName]">
							</div>
						</div>
						<%}%>
					</div>
					<button class="btn btn-secondary" type="submit">Create Booking</button>
				  </form>
			</div>
		</main>
		<%- include('../../partials/footer.ejs') %>
		<%- include('../../imports/bootstrap-scripts.ejs') %>
	</body>		
</html>