<!DOCTYPE html>
<html lang="en" class="h-100">
	<head>
		<%- include('../../imports/bootstrap') %>
		<title>LSD Frontend</title>
		<link href="style.css" rel="stylesheet" type="text/css" />
	<head>
	<body class="d-flex flex-column h-100"> 
		<%- include('../../partials/navbar.ejs', {active: "home"})  %>
		<main role="main" class="flex-shrink-0">
			<div class="container">
				<h2>Booking Info</h2>
				<% if(booking) {%>
					<div class="table-responsive">
						<table class="table text-center" id="table" data-toggle="table" data-sort-name="name" data-sort-order="desc" data-search="true">
							<thead>
								<tr>
								  <th data-sortable="true">Booking ID</th>
								  <th>Price</th>
								  <th>Arrival Airport</th>
								  <th>Departure Airport</th>
								  <th>Flight Code</th>
								  <th>PNR</th>
								  <th>Passenger List</th>
								  <th>Creditcard number</th>
								  <th>Frequent Flyer ID</th>  
								  </tr>
							</thead>
							<tbody>
							  <% booking.flightBookings.forEach((data) => { %>
								<tr text->
								  <td><%= booking.id %></td>
								  <td><%= booking.price %>DKK</td>
									<td><%= data.arrivalAirport.iata %></td>
									<td><%= data.departureAirport.iata %></td>
									<td><%= data.flightCode %></td>     
									<% if (data.passengers) { %>			
									  <td class="text-left">
										<ul class="list-group">
										  <% data.passengers.forEach((data2) => { %>    
											<h2><%= data2.length %></h2>
											<li style="border: 0; padding: 2px;" class="list-group-item"><%= data2.pnr %></li>
										  <% })%>
										</ul>
									  </td>
									<%}%>
									<% if (data.passengers.length) { %>			
										<td class="text-left">
										  <ul class="list-group">
											<% data.passengers.forEach((data2) => { %>    
											  <li style="border: 0; padding: 2px;" class="list-group-item"><%= data2.last_name %>, <%= data2.first_name %></li>
											<% })%>
										  </ul>
										</td>
									  <%}%>
								  	<td><%= booking.creditCardNumber %></td>
								  	<td><%= booking.frequentFlyerId %></td>
								</tr>
							  <% }) %>
							</tbody>
						</table>
					</div>
				<%} else {%>
					<p>Found no booking...</p>
				<%}%>
			</div>
		</main>
		<%- include('../../partials/footer.ejs') %>
		<%- include('../../imports/bootstrap-scripts.ejs') %> 
	</body>		
</html>